* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Navigation */
header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}
header img{
    float: left;
}
header nav {
    float: right;
}
nav ul li {
    padding: 15px 10px;
    list-style: none;
    display: inline-block;
}
/* Navigation end */

/* Body */
body{
    background-image: url("../img/pattern.jpg");
    background-repeat: repeat;
}
section{
    background-color: white;
    padding: 20px;
    width: 75%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
#article-list div{
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
}
#article-list h3 {
    padding-bottom: 20px;
}
/* Body end */

/* Footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    margin-bottom: 20px;
}
/* Footer end */